:root {
  --sign-scale: 1.8;
}

.material-algeco {
  &.medium {
    --sign-scale: 1.8;
  }

  &.small {
    --sign-scale: 0.7;
  }

  width: calc(var(--sign-scale) * 50mm);
  height: calc(var(--sign-scale) * 137mm);
  position: relative;
  background-repeat: no-repeat;
  background-size: calc(var(--sign-scale) * 50mm) calc(var(--sign-scale) * 137mm);

  &.dir-l {
    background-image: url("../../images/sign/sign/materialAlgeco/material-algeco-l.svg");
  }

  &.dir-r {
    background-image: url("../../images/sign/sign/materialAlgeco/material-algeco-r.svg");
  }

  .aisle-number-container {
    position: absolute;
    top: calc(var(--sign-scale) * 0mm);
    left: calc(var(--sign-scale) * 4.5mm);
    font-family: Casto;
    font-weight: 900;
    color: #D9D8D6;
    font-size: calc(var(--sign-scale) * 35.7pt);
  }

  .text-container {
    position: absolute;
    top: calc(var(--sign-scale) * 37.6mm);
    left: calc(var(--sign-scale) * 4.2mm);
    font-family: Casto;
    font-weight: 900;
    color: #000000;
    font-size: calc(var(--sign-scale) * 12.5pt);
    line-height: calc(var(--sign-scale) * 12.5pt);
  }
}
